* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #07e4f0;
    background-image: url(./assets/weather-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    color: #fff;
    margin: 50px 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.search-container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto 50px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.search-container input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}
.search-container button {
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #07e4f0;
    font-size: 1em;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #f0f0f0;
}
.weather-app {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff48;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.293);
}
.main-info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.weather-icon-box {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-icon {
    width: 100%;
    height: auto;
}
#city {
    font-size: 2.3rem;
    color: #000000;
}
.main-temp {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}
.secondary-info-container {
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #bcbaba;
}
.temp-label {
    font-size: 1.1rem;
    color: #2ebbc2;
    margin: 5px 0;
    font-weight: bold;
}
.result {
    font-weight: normal;
    color: #000000;
}
.additional-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 0 0;
    border-top: 1px solid #bcbaba;
}